<p>
  availability works!
</p>

<div>
    <chrono-calendar
        [highlightDays]="highlightDays"
        [dayClick]="oneDaySelectionOnly"
        [(ngModel)]="selectedDays">
    </chrono-calendar>
</div>
<!-- disables days of the week by index 0-6 -->
<!-- [weekDaysOff]="[0, 3]" -->
<!-- callback for when the month is changed -->
<!-- [monthChanged]="logMonthChanged" -->
<div>
  {{selectedDays | json}}
</div>


<label>
  Start Time
</label>
<ngb-timepicker [(ngModel)]="startTime" [meridian]="true" [seconds]="false"></ngb-timepicker>
<p>{{startTime | json}}
    
    </p>
    <br>

<label>
    End Time
  </label>
  <ngb-timepicker [(ngModel)]="endTime" [meridian]="true" [seconds]="false"></ngb-timepicker>
  <p>{{endTime | json}}</p>
  
